<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> 
  <style>
  
      h1{
        color:white;
      }
      
      h2{
        color:white;
      }
  
      footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height:125px;
}
      body{
        background-image:url("http://ksassets.timeincuk.net/wp/uploads/sites/54/2018/03/Fortnite_BR_50v50.jpg");
        background-size:1500px;
      }
  </style>
</head>
<body>
     <nav>
    <div class="nav-wrapper red">
      <a href="/" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Stats</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <h1>About</h1>
      <h2>just some noob playing video games and coding</h2>
  </div>
 