<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> 
  <style>
  
      h1{
        color:white;
      }
      
      h2{
        color:white;
      }
  
      footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height:125px;
}
      body{
        background-image:url("https://cdn-images-1.medium.com/max/1600/1*Jo-dFGtA2fz6haORBPeLPw.png");
      }
  </style>
</head>
<body>
     <nav>
    <div class="nav-wrapper red">
      <a href="/" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Stats</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <h1>Contact</h1>
      <h2>joshuac50269@students.laalliance.org
      
          robertol56036@students.laalliance.org
      </h2>
  </div>
  