<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> 
  <style>
  
      h2{
        color:white;
        font-size:36px;
      }
  
      h1{
        color:white;
      }
  
      footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height:125px;
}
      body{
        background-image:url("https://fsmedia.imgix.net/d9/a8/e3/b6/1320/4d3c/b47c/513bbb2f3b85/raven-skin-available-on-fortnite.gif");
        background-size:1450px;
      }
  </style>
</head>
<body>
     <nav>
    <div class="nav-wrapper red">
      <a href="/" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Stats</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <h1>Home</h1>
      <h2> Welcome to my website where you can look at the different players stats. just go to the stats page and start from there.</h2>
  </div>
  