<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> 
  <style>
  
      p{
        color:white;
      }
  
      h1{
        color:white;
      }
  
      footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height:125px;
}
      body{
        background-image:url("https://i.redd.it/0glb7tjj8cp01.jpg");
        background-size:1500px;
      }
  </style>
</head>
<body>
     <nav>
    <div class="nav-wrapper red">
      <a href="/" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Stats</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <form action = "/portfolio" method = "POST">
  <div class="container">
      <h1>Stats</h1>
      <p>Enter a players username and then click on the find player button to view their stats</p>
      <textarea name="gamerId"></textarea>
      <button type="submit" class="btn btn-primary">Find Player</button>
  </div>
  <div style="color:white">
    <% if (typeof data !== 'undefined') { %>
      

      <p>Stats:</p>
      <p>Total Score: <%= JSON.stringify(data.stats.p2.score.value) %></p>
      <p>Kd ratio:<%= JSON.stringify(data.stats.p2.kd.value) %></p>
      <p>win ratio:<%= JSON.stringify(data.stats.p2.winRatio.value) %></p>
      <p>total Solo wins:<%= JSON.stringify(data.stats.p2.top1.value) %></p>
     
      
      
    <% } %>
  </div>
  </form>
 