<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> 
  <style>
  
      h1{
        color:white;
      }
  
      footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height:125px;
}
      body{
        background-image:url("https://cdn2.unrealengine.com/Fortnite%2Fblog%2Ffortnitemares-update-1-8-patch-notes%2FPVP_Gameplay_EN-1920x1080-c00c544f2a1b2146ac3fa05a804c96ba68653e70.jpg");
      }
  </style>
</head>
<body>
     <nav>
    <div class="nav-wrapper red">
      <a href="/" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Stats</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <h1>Results</h1>
  </div>
  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Link one takes you to epic games where you can download fortnite itself.
                Link 2 takes you to another game that relates to the battle royale category also known as H1Z1, which also recently came out to PS4.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.epicgames.com/fortnite/en-US/battle-pass/season-4">Fortnite Download</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.h1z1.com/home">H1Z1 Download</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
</body>

   